@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black font-body text-base text-white transition-opacity duration-300;
  }
  *:focus-visible {
    @apply outline-double outline-offset-2 outline-white;
  }
  main {
    @apply mx-5 lg:pl-[var(--desktopSidebarWidth)];
  }

  p {
    @apply max-w-prose;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance leading-tight;
  }

  input,
  textarea {
    @apply text-input lg:text-base;
  }
}

:root {
  --mobileNavHeight: 4.25rem;
  --desktopSidebarWidth: 20rem;
}

/* body overlay when PrimaryNavigation is open */
body::before {
  @apply fixed inset-0 z-hide bg-black bg-opacity-base opacity-0 transition-all  duration-500 ease-in-out content-[""];
}

.body-overlay-active::before {
  @apply z-auto overflow-hidden  opacity-[100%] duration-500 ease-in-out lg:hidden;
}

body.body-overlay-active {
  @apply overflow-hidden lg:overflow-auto;
}

/* styling for month and year dropdown of calendar.tsx */
.rdp [aria-hidden="true"] {
  @apply sr-only;
}

.rdp-vhidden {
  @apply sr-only;
}

select::-webkit-scrollbar {
  display: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
